.header {
  margin: 0;
  padding: 2em;
  background-color: lightgray;
  position: absolute;
  opacity: 0.9;
  width: 100%;
  box-sizing: border-box;
}

#name {
  height: 4em;
}

.body {
  width: 80%;
  padding: 1em;
  background-color: white;
  margin: auto;
}

.cover-image-box {
  width: 100%;
  height: 54em;
  /* overflow: hidden; */
  background-image: url("./background-images/emp.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

#type-animation {
  font-family: "Didot";
  font-size: 128px;
}

.sub-heading {
  display: inline;
  vertical-align: middle;
  margin: 1em;
  opacity: 1.0;

}

.link {
  text-decoration: none;
  color: #000; 
}

body {
  background-color: black;
}

.footer {
  background-color: rgb(247, 255, 255);
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  margin-top: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-right: 2em;
  padding-left: 1em;
}

.icon {
  float: right;
  width: 35px;
  padding-right: 10px;
}

#music-div {
  display: grid;
  /* grid-template-columns: 50% 50% ; */
  grid-template-columns: 33% 33% 33%;
  /* grid-template-columns: 25% 25% 25% 25%; */
  /* grid-template-columns: 20% 20% 20% 20% 20% ; */
}

.album-box {
  text-align: center;
  /* width: 25%; */
  margin: .5em;
}

.album-art {
  width: 100%;
  /* display:"inline-block"; */
}


.art-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; 
}

.symbol {
  margin: 0em;
}

.symbol-shape {
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background-color: lightgray;
  opacity: .8;

  display: flex;
  justify-content: center;
  align-items: center; 
}

.info-box {
  position: absolute;
  height: 35%;
  top: 65%;
  width: 100%;
  pointer-events: none;
  /* display: none; */
  background-color: white;
  opacity: .75;
}

.song-info {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

#type-block {
  background-color: white;
  opacity: 0.75;
  width: 70%;
  height: 15em;
  align-items: center; 
  justify-content: center; 
  vertical-align: center;
  display: flex;
  margin: 1em;
  border: solid black 1px;
}

#resume {
  /* position: relative; */
  padding-bottom: 77%;
  width: 80%;
  background-color: white;
  margin: auto;
}